
body {
  font-family: Roboto, sans-serif;
  background: linear-gradient(to bottom right, #9999ff 0%, #ccffff 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

/* Правилом задаю фоновый градиент */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container {
  padding: 0 40px;
  margin-left: 80px;
}

p {
   font-size: 1.3em;
}

/* Свойства ссылок */

a {
  display: block;
  text-decoration:none;
  margin-bottom: 1em;
  position: relative;
  font-size: 1.1em;
}

  /* Свойства при наведении на ссылку */

a:hover {
  color:#9900cc;
  text-decoration:underline;
}

 /* Создание псевдокласса для добавления подчеркивания*/

a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  border-bottom: 1px solid #dadada;
  width: 300px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 1.25em 0;
}

/* Свойства фотографии*/

.photo {
  border-radius: 50%;
  border: 3px solid transparent;
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

  /* Эффект при наведении на картинку */

.photo:hover {
  border: 3px solid #9900cc;
}

/* Свойства кнопки*/

button {
   font-size: 0.9em;
   background-color: #e7e7e7;
   border-radius: 4px;
   border: 3px solid transparent;
}

/* Эффект при наведении на кнопку */

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
